.footer{
    background-color: #2f3d7e;
    color: #faeaeb;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.footer p {
    font-weight: bold;
    padding: 0;
    margin: 6px;
}

.my-github{
    text-decoration: underline;
    cursor: pointer;
    color: #faeaeb;
}

.my-github i{
    font-weight: normal;
}